.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*Color and border padding*/
    background-color: #f3f3f3;
    border: 1px #ddf3f3;
    border-radius: 3px;

    /*Height and padding*/
    width: 300px;
    height: 100px;
    padding:20px

}

.subtotal_gift{
    display: flex;
    align-content: center;
}
.subtotal_gift > input {
    margin-top: 4px;
    margin-right: 5px;
}
.subtotal >button {
    background: rgb(129, 128, 248); /*Check the button color and button design**/
    border-radius: 3px;
    border-color: rgb(124, 181, 246);
    /*z-index: 1;*/
    /*color: #111111;*/

    /*dimension*/
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;

}